<div class="container">
  <div class="jumbotron">
    <p>My name is My. I am 23 years old graduate from Đà Nẵng, Vietnam. I have a bachelor of Information Technology with Danang University of Education.</p>
    <p>I love web and has been learning frontend development on my own. After 1 year, I am now able to do code in HTML/CSS/JS and AngularJS.</p>
    <h3>
      <a href="https://www.facebook.com/MjTieuMui">
        <i class="fa fa-facebook-square fa-3"></i>Facebook
      </a>
    </h3>

    <h3>
      <a "mailto:my.mai@asnet.com.vn">
        <i class="fa fa-envelope fa-3"></i>Email
      </a>
    </h3>
  </div>
</div>