<div class="container"> 
  <div class="thumbnail-container">
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="homeContent in homeContents track by $index">
        <a ui-sref="{{homeContent.href}}">
          <div class="thumbnail">
            <div class="jumbotron block-info">
              <h3>{{homeContent.title}}</h3>
            </div>
            <div class="caption">
              <h3>{{homeContent.title}}</h3>
              <p><big>{{homeContent.detail}}</big></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>